[submodule "external/dispose-root"]
	path = external/dispose-root
	url = https://github.com/CyanChanges/koishi-plugin-dispose-root.git
[submodule "external/expose-ctx"]
	path = external/expose-ctx
	url = https://github.com/CyanChanges/koishi-plugin-expose-ctx.git
